.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 10px;
  background-color: #f7f7f7;
}

.register-form-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-form .text-xl {
  font-size: 1.4rem;
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.buttonRegister {
  width: 100%;
  padding: 12px;
  background-color: #0c6b84;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.redirect-login {
  text-align: center;
  margin-top: 15px;
}

.redirect-login a {
  color: #0c6b84;
  font-weight: 500;
  text-decoration: none;
}

/* CAMERA PHOTO STYLE */
.photo-upload-container {
  text-align: center;
  margin-bottom: 20px;
}

.camera-icon-label {
  cursor: pointer;
  display: inline-block;
}

.camera-icon {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
  transition: transform 0.2s ease-in-out;
}

.camera-icon:hover {
  transform: scale(1.05);
}
